<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments :: header"/>
<body>
<div id="wrapper">
     <!-- Navigation -->
     <nav th:replace="admin/fragments :: navigation"></nav>
       <!-- Navigation -->
       <div id="page-wrapper">
       <div class="col-md-12 graphs">
       	<div class="xs">
  	    <h3 style="margin-left:3%">Add Category</h3>
  	    <div class="well1 white">
         <form th:action="@{/categories/save}" method="Post" th:object="${category}">
			<div class="form-group">
			<label class="control-label" for="firstName">Name</label>
			  <input id="firstName" class="form-control1" th:field="*{name}" required/>
			 <span style="color:red;font-style:italic" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
			</div>
			 <div class="form-group">
		      <button type="submit" class="btn btn-success">Submit</button>
		     </div>
		</form>
      </div>
    </div>	 

	 <div th:replace="admin/fragments :: footer">     
    </div>
  </div>
 </div>
 <!-- /#page-wrapper -->
 </div>
 <!-- /#wrapper -->
 <!-- Bootstrap Core JavaScript -->
<script type="text/javascript" th:src="@{/admin/js/bootstrap.min.js}"></script>
</body>
</html>
