<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments :: header1"/>
  <body>

    <!-- top header -->
<header th:replace="fragments :: header2"></header>
  <!-- //top header -->
<section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a th:href="@{/}">Home</a></li>
        <li class="active">/ Reset</li>
      </ul>
    </div>
  </section>
<!-- contact -->
    <section class="w3l-contacts-12" id="contact">
        <div class="contact-top pt-5">
            <div class="container py-lg-4">
                <div class="title-heading-w3 text-center mx-auto">
                    <h3 class="title-big">Reset Password</h3>
                </div><br>
               
                    <!-- contact form -->
                    <div class="container">
        <div class="row" style="background-color: #f7f7f7;border-radius: 25px">
           <div class="col-md-12" style="padding-bottom: 10px;">
         
                
                 <form th:action="@{/reset-password}" method="Post" >
				   <div th:if="${message !=null}">
				    <div class="alert alert-info">[[${message}]]</div>
				    </div>
				    <div th:if="${param.logout}">
				     	<div class="alert alert-info">You have been logged out</div>
				    </div>
				     <input type="hidden" name="token" th:value="${token}">
				     <div class="form-group">
						 <label class="control-label" for="password">Password</label>
						 <input id="password" type="password" placeholder="Enter your new password" class="form-control" name="password" required/>
					 </div>
					  <div class="form-group">
						 <label class="control-label" for="email">Confirm Password</label>
						 <input type="password" class="form-control" placeholder="Confirm your new password"
                required oninput="checkPasswordMatch(this);" />
					 </div>
					  
					  <div class="form-group">
				      <button type="submit" name="login-submit" id="login-submit" class="btn btn-primary">Submit</button>
				      
				     </div>
				 </form>
              
           </div>
         
        </div>
    </div>
                   
                   
               
            </div>
           
        </div>
    </section>
    <!-- //contact -->
<!-- footer -->
<section th:replace="fragments :: footer-short-content"></section>
<!-- //footer -->
<!-- confirmpasswords -->
<script type="text/javascript">
	function checkPasswordMatch(fieldConfirmPassword) {
    if (fieldConfirmPassword.value != $("#password").val()) {
        fieldConfirmPassword.setCustomValidity("Passwords do not match!");
    } else {
        fieldConfirmPassword.setCustomValidity("");
    }
}
</script>
<!-- confirmpasswords -->
<!--  java script files here -->
<div th:replace="fragments :: js_files"></div>

</body>
</html>