<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments :: header1"/>
  <body>

    <!-- top header -->
<header th:replace="fragments :: header2_auth"></header>
  <!-- //top header -->
<!--  services section -->
 <section class="w3l-contacts-12" id="contact">
        <div class="contact-top">
            <div class="container">
               
                    <!-- contact form -->
          <div class="container"  style="background-color: #f8f9fa">
           <div class="title-heading-w3 text-center mx-auto">
                    <h3 class="title-big">Profile</h3>
                </div><br>
		    <div th:if="${message}">
		     <div class="alert alert-danger">[[${message}]]
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-md-8">
			  <form th:action="@{/products/profile}" method="Post" th:object="${user}">
			  	<input th:field="*{id}" type="hidden" />
			 	
			 
				 <div class="form-group">
				 <label class="control-label" for="firstName">First Name</label>
				 <input id="firstName" class="form-control" th:field="*{firstName}" required/>
				 <span style="color:red;font-style:italic" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
				 </div>
				  <div class="form-group">
				 <label class="control-label" for="lastName">Last Name</label>
				 <input id="lastName" class="form-control" th:field="*{lastName}" required/>
				 <span style="color:red;font-style:italic"  th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
				 </div>
				  <div class="form-group">
				 <label class="control-label" for="email">Email</label>
				 <input id="email" type="email" class="form-control" th:field="*{email}" readonly/>
				 <span style="color:red;font-style:italic"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				 </div>
				  <div class="form-group">
				 <label class="control-label" for="phone">Phone</label>
				 <input id="phone" type="number" class="form-control" th:field="*{phone}" required/>
				 <span style="color:red;font-style:italic" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
				 </div>
				  <div class="form-group">
				 <label class="control-label" for="idNumber">ID Number</label>
				 <input id="idNumber" type="number" class="form-control" th:field="*{idNumber}" required/>
				 <span style="color:red;font-style:italic" th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}"></span>
				 </div>
				 
				 <div class="form-group">
			      <button type="submit" class="btn btn-primary">Update</button>
			     </div>
			    
			    
			</form>
			</div>
			 <div class="col-md-4">
			 <form th:action="@{/products/password}" method="post">
			 	<div class="form-group">
				 	<label class="control-label" >Current Password</label>
				 	<input name="currentPwd" type="password" class="form-control"  required/>
				 </div>
			 	<div class="form-group">
				 	<label class="control-label" >New Password</label>
				 	<input name="newPwd" type="password" class="form-control"  required/>
				 </div>
				 <div class="form-group">
				 	<label class="control-label" >Confirm Password</label>
				 	<input name="confirmPwd" type="password" class="form-control"  required/>
				 </div>
				 <div class="form-group">
			        <button type="submit" class="btn btn-primary">Change password</button>
			     </div>
			</form>
			 </div>
			 </div>
			
        </div>
    </div>

 </div>
 </section>
<!-- footer -->
<section th:replace="fragments :: footer"></section>
<!-- //footer -->

<!--  java script files here -->
<div th:replace="fragments :: js_files"></div>
</body>
</html>